.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    height: 32px;
    width: 32px;
  }

    @include on-desktop {
    height: 32px;
    width: 32px;
  }

  &--phone {
    position: relative;
    background-image: url(../items/Icon-Phone-call.png);

    &:hover {
      transform: scale(1.2);
      filter: brightness(1.2);
    }

 .top-bar__phone-number {
      display: none;
      position: absolute;
      right: 100%;
      top: 50%;
      transform: translateY(-50%);
      padding: 5px 10px;
      font-size: 12px;
      text-decoration: none;
      font-weight: bold;
      color: #fff;
      white-space: nowrap;
    }

      @include on-desktop {
      display: inline-block;
  }

    &:hover .top-bar__phone-number {
      @include on-desktop {
      display: inline-block;
  }
    }
  }

  &--menu {
    background-image: url(../items/Icon-Burger-menu.png);
    &:hover {
      background-image: url(../items/menu-hover2.png);
    }
  }

  &--close {
    background-image: url(../items/Icon-Close.png);
  }
}


a.top-bar__phone-number {
  color: #fff;
  text-decoration: none;
  font-weight: normal;
}

a.top-bar__phone-number:hover {
  color: #fff;
  transform: scale(1.2);
  filter: brightness(1.2);
}
