.logo {
  height: 38px;
  width: 130px;

  @include hover(transform, scale(1.2));
}

.top-bar {
  padding-block: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include on-tablet {
    padding-block: 36px;
  }

  &__icons {
    display: flex;
    gap: 24px;
  }

  &__phone-number{
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-align: right;
  color: #fff;

  text-transform: uppercase;

  }
}
